{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Statistikk (DEL 1){% endblock %}

{% block content %}

<ul>
    <li>Denne runden fikk du utbetalt: {{ player.utbetalt }}kr</li>
    <li>Du valgte å oppgi: {{ player.deklarert }}kr </li>
    <li>Denne runden tjente du:  {{ player.payof }}kr</li>
    <li style="color:red;">Så langt i DEL 1 har du tjent: {{ player.final_total_payof}}kr</li>
    <li>Alle spillerne oppga til sammen {{ group.totalt_bidrag}}kr av utbetalingene sine denne runden. </li>
    <li>Av all inntekten som ble oppgitt, blir <b>{{ group.skatt_hva_man_faar_tilbake }}kr</b> distribuert tilbake til deg!</li>
</ul>

{% formfields %}

{% next_button %}

{% endblock %}
